body {
	background: #0061bd9f;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

*{
	font-family: sans-serif;
	box-sizing: border-box;
}

.login2 {
	width: 900px;
	float: center;
	border: 4px solid rgb(29, 44, 133);
	padding: 15px;
	background: rgba(255, 255, 255, 0.952);
	border-radius: 10px;
}

.tabla{
	width: 900px;
	float: center;
	border: 4px solid rgb(29, 44, 133);
	padding: 15px;
	background: rgb(255, 255, 255);
	border-radius: 10px;
}

input {
	display: block;
	border: 2px solid rgb(255, 255, 255);
	width: 50%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}

label {
	color: rgb(3, 0, 39);
	font-size: 18px;
	padding: 10px;
}

button {
	float: right;
	background: rgb(255, 255, 255);
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}

button:hover{
	opacity: .7;
}

.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}

a {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	text-decoration: none;
}
a:hover{
	opacity: .7;
}