/*Inicio de los estilos para el patrÃ³n de diseÃ±o "Tiny tweaks"*/

.c1 {
    font-family: Helvetica;
    color: white;
    padding: 10px;
    width: 100%;
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
    }
    
  @media (min-width: 500px) {
    .c1 {
      padding: 40px;
    }
  }
    
  @media (min-width: 800px) {
    .c1 {
      padding: 0px;
    }
  }
  
  /*Fin de los estilos para el patrÃ³n de diseÃ±o "Tiny tweaks"*/
  
  .usuario{
    margin-top: none;
    margin-bottom: none;
    float: right;
    position: right;
    color: white;
  }
  
  body{
    background-image: url("../chat/img/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .menu{
      margin-bottom: 2%;
      text-align: center;
  }

  .menu a{
  padding: 15px;
  line-height: normal;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  margin-right: 5px;
}

.menu a:hover{
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

button{
  text-align: center;
  color: darkblue;
}

#contenedor{
    width: 40%;
    background: #3d8181b8;
    margin: 0 auto;
    padding: 20px;
    border-radius: 12px;
}

#caja-chat{
    width: 90%;
    height: 400px;
}

#datos-chat{
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid silver;
    font-weight: bold;
    font-family: Helvetica;
}

input[type='text']{
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

input[type='submit']{
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: black;
}

textarea{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
}

input, textarea{
    margin-bottom: 3px;
}